/*
Donghwan Seo
Filename:styles.css
final
12.9.2019
*/


  /* Structural Styles */
html {
    background-color: #cccc99;
    color: Black;
    text-align: center;
}
/*Header Rules*/
.container{
    background-color: #cccc99;
    align-content: center;
}
header{
    margin:5px;
    font-size: 2em;
    background-color: #cccc99;
}
.main{
    text-align: center;
}
body {
    background-color: #cccc99;
    text-align: center;
    font-size: 12px;
}
.container{
    background-color: #cccc99;
    margin: auto;
    width: 85%;
    border: 3px solid black;
    text-align: center;
    background-color: #b4b484;
}
iframe{
    text-align: center;
}

  
/* Header Rules */
  /* Navigation Styles with Bootstrap */
  /* Section Styles */
.section {
    margin: auto;
    width: 85%;
    border: 3px solid black;
    text-align: center;
    background-color: #b4b484;
    text-decoration: none;
}
      
      
  /* Footer Styles */
footer {
    text-align: center;
    background-color:#b4b484;
    text-shadow: 1px 1px 1px black;
    border-bottom: 3px black double;
    box-shadow: 0px 2px 2px;
    text-decoration: none;
}	
/*Calendar Photo Style */
table, th, td{
    border: 1px solid black;
    padding: 50px;
    margin: 50px;
    text-align: center;
    background-color: #cccc99;
    font-size:1.1em;
    font-style: oblique;
    align-content: center;
    width: 80%;
    height: 80%;
}
caption{
    color:white;
    font-size: 50px;
    padding:10px;
}

  